table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
width: 500px;
border-collapse: collapse;
text-align: center;
margin: auto;

}
th, td:first-child {
background: #AFCDE7;
color: white;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
padding: 30px 0px; //регулировка высоты таблицы
}
td {
background: #D8E6F3;
}

tr {

}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
   box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
   	border: 5px solid #49914c;
   	font-size: 2em;
   	color: #ffffff;
   	background-color: #4CAF50;
   	margin: auto;
   	border-radius: 50%;
   	height: 1.5em;
   	width: 1.5em;
   	position: relative;
   	outline:none;

}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */

        .cancelbtn {
           border: 1px solid #333; /* Рамка */
               display: inline-block;
               padding: 5px 15px; /* Поля */
               text-decoration: none; /* Убираем подчёркивание */
               color: #000; /* Цвет текста */
        }
         .cancelbtn:hover {
            box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
            background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
            color: #a00;
           }

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    height: 100px;
    width:100px;
 /*   width: 40%;*/
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}


.orange-circle-button {
	box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
	border: .5em solid #E84D0E;
	font-size: 2em;
	line-height: 1.1em;
	color: #ffffff;
	background-color: #e84d0e;
	margin: auto;
	border-radius: 50%;
	height: 3em;
	width: 3em;
	position: relative;
	outline:none;
}
.orange-circle-button:hover {
	color:#ffffff;
    background-color: #e84d0e;
	text-decoration: none;
	border-color: #ff7536;

}
.orange-circle-button:visited {
	color:#ffffff;
    background-color: #e84d0e;
	text-decoration: none;

}
.orange-circle-link-greater-than {
    font-size: 1em;
}







/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}



@media screen and (max-width: 768px) {
 table {
 font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
 font-size: 24px;
 width: 100%;
 border-collapse: collapse;
 text-align: center;
 margin: auto;
 }





}

