.selected { border: solid blue 6px; !important }

ul{
padding-left: 0;
}

li{
list-style-type: none;
}


  .LockOff {
                  display: none;
                  visibility: hidden;
               }

               .LockOn {
                  display: block;
                  visibility: visible;
                  position: absolute;
                  z-index: 999;
                  top: 0px;
                  left: 0px;
                  width: 105%;
                  height: 105%;
                  background-color: #ccc;
                  text-align: center;
                  padding-top: 20%;
                  filter: alpha(opacity=75);
                  opacity: 0.75;
}
table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 16px;
width: 95%;
border-collapse: collapse;
text-align: center;
margin: auto;
table-layout:fixed;
}
th, td:first-child {
background: #AFCDE7;
color: white;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #D8E6F3;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */

        .cancelbtn {
           border: 1px solid #333; /* Рамка */
               display: inline-block;
               padding: 5px 15px; /* Поля */
               text-decoration: none; /* Убираем подчёркивание */
               color: #000; /* Цвет текста */
        }
         .cancelbtn:hover {
            box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
            background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
            color: #a00;
           }

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    height: 100px;
    width:100px;
 /*   width: 40%;*/
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

.nameCategory{
background: #AA06B2 !important;
color: #FFFFFF !important;
}

/*#submitBtn{
position: fixed;
    right: 10px;
    top: 20%;
    left: 70%;
    width:100px;
}*/

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 16px;
width: 95%;
border-collapse: collapse;
text-align: center;
margin: auto;
table-layout:fixed;
}
th, td:first-child {
background: #AFCDE7;
color: white;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #D8E6F3;
}
}